* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Tahoma;
  }
  
  /* Style the header */
  h2 {
    width: 100%;
    height: 100px;
    background-color:#748faf;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    font-family: Impact;
  }

  /* question */
  h3 {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 25px;
  }

  /* answer button */
  .reply{
    width: 100%;
    background: whitesmoke;
    padding: 2.5px;
    color: #31456b;
    font-size: 30px;
    border-width:3px; 
    border-radius: 12px;
    border-style:solid; 
    border-color:#748faf;
  }

  p {
    font-family: Tahoma;
    font-size: 30px;
  }

  a{
    text-decoration: none;
    color: white;
    font-family: "Arial Narrow";
      font-size: 25px;
  }
   
  /* Style the Home button */
  nav {
    width: 30%;
    background: #748faf;
    position: center;
    margin: 0 35% 0 35%;
    border-radius: 12px;
  }
   
  nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
  }
   
  nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
  }
   
  nav:hover{
    background-color: #c2cede;
    }
    
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

